:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* Start Box  */
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.f-wrap {
  flex-wrap: wrap;
}
.f-grow-1 {
  flex-grow: 1;
}
.f-dirct-col {
  flex-direction: column;
}
.d-grid {
  display: grid;
}
.gap-5 {
  gap: 5px;
}
.gap-20 {
  gap: 20px;
}
.align-center {
  align-items: center;
}
@media (max-width: 767px) {
  .d-block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  .news-mobile {
    flex-direction: column;
  }
}
/* End Box  */
/* Start Padding Margin  */
.m-0 {
  margin: 0;
}
.m-10 {
  margin: 10px;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.ml-auto {
  margin-left: auto;
}
.ml-0 {
  margin-left: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 20px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pl-15 {
  padding-left: 15px;
}
/* End Padding Margin  */
/* Start Color  */
.bg-white {
  background-color: white;
}
.bg-red {
  background-color: var(--red-color);
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-eee {
  background-color: #eee;
}
.bg-grey {
  background-color: var(--grey-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.c-black {
  color: black;
}
.c-white {
  color: white;
}
.c-grey {
  color: var(--grey-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
.c-red {
  color: var(--red-color);
}
/* End Color  */
/* Start Position  */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* Start Position  */
/* Start Font  */
.txt-c {
  text-align: center;
}
.fw-bold {
  font-weight: bold;
}
.fw-normal {
  font-weight: normal;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-25 {
  font-size: 25px;
}
@media (max-width: 767px) {
  .text-c-mobile {
    text-align: center;
  }
}
/* End Font  */
/* Start Width + Height  */
.w-100 {
  width: 100px;
}
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.h-100 {
  height: 100px;
}
.h-full {
  height: 100%;
}

.over-hid {
  overflow: hidden;
}
/* End Width + Height  */
/* Start Border  */
.b-none {
  border: none;
}
.b-1s-ccc {
  border: 1px solid #ccc;
}
.b-1s-eee {
  border: 1px solid #eee;
}
.bb-1sg-eee {
  border-bottom: 1px solid #eee;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
}
/* End Border  */
/* Start Components  */
.between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Components  */
